{% extends 'jgbase.html' %}

{% load static %}
{% block title %}解答マークシートのアップロード{% endblock %}
{% block header %}解答アップロード{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-3">
        <p>複数画像アップに対応しました。</p>
        <!--解答ファイルをアップロードするフォーム-->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Choose File<input type="file" style="display:none" name="file" multiple accept="image/jpeg">
                    </span>
                </label>

                <input type="text" class="form-control" readonly="">

            </div>

            <div class="form-group">
                <input type="submit" value="画像up" class="btn btn-primary" data-toggle="modal" data-target="#modal-progress">
                <input type="button" value="全追加" class="btn btn-primary" id="btn_all_insert" data-toggle="modal" data-target="#modal-progress">
            </div>
        </form>
        <select class="form-control" id="select_id" size="10">
            {% for l in list %}
            {% if l.exists == 1 %}
            <option value="{{ l.t_id }}_{{ l.u_id }}_済">{{ l.t_id }}_{{ l.u_id }}_済</option>
            {% else %}
            <option value="{{ l.t_id }}_{{ l.u_id }}_未">{{ l.t_id }}_{{ l.u_id }}_未</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <form method="POST">
        <div class="col-md-6">
            <input type="button" value="追加" class="btn btn-primary" id="btn_insert" style="margin-top:10px;margin-bottom:10px;" data-toggle="modal" data-target="#modal-progress">
            <input type="button" value="訂正" class="btn btn-primary" id="btn_upload" style="margin-top:10px;margin-bottom:10px;" data-toggle="modal" data-target="#modal-progress">
            <label for="t_id">t_id:<input type="text" id="t_id" value="{{ t_id }}"></label>
            <label for="u_id">u_id:<input type="text" id="u_id" value="{{ u_id }}"></label>
            <table id="answer_table">
                {% for al in answerlist %}
                <tr>
                    <td>{{ al.0 }}</td><td><input type="text" value="{{ al.1 }}"></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </form>

</div>

<script type="text/javascript">

</script>
<div class="modal" id="modal-progress" tabindex="-1" style="position:fixed;top:10px;left:10px;">
    <div class="modal-dialog">
        <div class="modal-content" style="width:800px">
            <div class="modal-body">作成中です。しばらくお待ちください</div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'jg/js/answerupload.js' %}"></script>
{% endblock %}