<!DOCTYPE html>
<html lang="ja">
<head>
    <title>問題</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
    
    <div class="container">
        <div class="row" style="margin-top:100px;">
            <div class="col">
                
            </div>
        </div>
    </div>

</body>  
</html>