<!DOCTYPE html>
<html lang="ja">
<head>
    <title>級の選択</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    
    <div class="container">

        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'select_menu' %}">Select_Menu</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{kind}}</li>
                    </ol>
                  </nav>
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col">
                <h1>級の選択</h1>
                <table class="table">
                {% for item in question %}
                <tr>
                <form action="" method="post" id="form-area">
                    {% csrf_token %}
                    <td><input type="text" value="{{kind}}" name="kind" class="form-control" size="5" readonly></td>
                    <td><input type="text" value="{{item.grade}}" name="grade" class="form-control" size="5" readonly></td>
                    <td>
                    <select name="num" class="form-control">
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                        <option>25</option>
                        <option>30</option>
                    </select>
                    </td>
                    
                    <td><input type="button" value="cbt" class="btn btn-primary" id="cbt"></td>
                    {% if super_user %}
                    <td>
                    <select name="group" class="form-control">
                        {% for item in group %}
                            <option>{{item.group_name}}</option>
                        {% endfor %}
                    </select>
                    </td>
                    <td><input type="button" value="print" class="btn btn-primary" id="print"></td>

                    {% endif %}
                </form>
                </tr>
                {% endfor %} 
                </table>
                
            </div>
        </div>
    </div>
    <script>
    function getCookie( name ){
        var cookieValue = null;
        if( document.cookie && document.cookie !== ''){
            var cookies = document.cookie.split(';');
            for( var i = 0 ; i < cookies.length; i++ ){
                var cookie = cookies[i].trim();
                if( cookie.substring(0,name.length + 1)===(name+'=')){
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    
    function csrfSafeMethod( method ){
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function( xhr , settings){
            if(!csrfSafeMethod(settings.type) && !this.crossDomain){
                xhr.setRequestHeader("X-CSRFToken",csrftoken);
            }
        }
    })
    
    window.addEventListener("load",function(){
        $("#cbt").on("click",function(){
            $("#form-area").attr('action',"{% url 'question' %}")
            $("#form-area").submit()
        });
        $("#print").on("click",function(){
            $("#form-area").attr('action',"{% url 'question_print' %}")
            $("#form-area").submit()
        });
    });
    
    </script>
</body>  
</html>