{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <title>問題を更新する</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'exam/css/handsontable.full.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'select_menu' %}">Select_Menu</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Select_Update</li>
                    </ol>
                  </nav>
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col">
                <h1>ユーザーの更新</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <form action="{% url 'user_update' %}" method="post" >

                    {% csrf_token %}
                    <input type="text" id="data" name="data" hidden>
                    <input type="submit" class="btn btn-primary" value="更新">

                </form>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="grid"></div>
            </div>
        </div>
        
    </div>

    <script type="text/javascript" src="{% static 'exam/js/handsontable.full.js' %}"></script>
    <script>
        var data = [
            {% for item in data %}
                [
                {{item.id}},
                '{{item.user_id}}',
                '{{item.password}}',
                '{{item.user_name}}',
                '{{item.group_name}}',
                '{{item.super_user}}',
                ],
            {% endfor %}
        ]
        var grid = document.getElementById('grid');
        new Handsontable(
            grid,
            {
                data:data,
                colHeaders:['id','user_id','password','user_name','group_name','super_user'],
                columns:[
                    {type:'numeric',readOnly:true},
                    {type:'text'},
                    {type:'password'},
                    {type:'text'},
                    {type:'text'},
                    {type:'checkbox'},
                ],
                columnSorting:true,
                contextMenu:true,
                copyPaste:true,
            }
        );
        $("form").submit( function(event){
            json_text = JSON.stringify(data);

            $("#data").val(json_text);

            //alert( json_text );
            //alert( $("#data").val() );

            var form = $(this);
            $.ajax({
                url: form.prop("action"),
                method: form.prop("method"),
                data: json_text ,
                timeout:10000,
                dataType:"text",
            })
            .done(function(data){
                alert("done");
            })
        });
    </script>
</body>  
</html>